#row {
    min-height: 100vh;
    background-color:  #241f1c;
}

#container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.headerSearch {
    width: 100%;
    height: 80px;
    background-color: #241f1c;
    position:relative;
}

#logo {
    width:150px;
}

.navbar-header {
    list-style-type: none;
    display: inline;
}

.navbar-header li {
    display:inline;
    color:white;
    padding: 5px;
    cursor: pointer;
}

.navbar-header li:hover {
    opacity:0.5;
    transition: 1s;
}

.barraRicerca {
    padding: 6px;
    border-radius: 5px;
    background-color: #241f1c;
    color:white;
    border:none;
    color:white;
}


#bottoneRicerca {
    /* width: 10%; */
    padding: 6px;
    border-radius: 5px;
    background-color: #241f1c;
    border: none;
    color: white;
}

#bottoneRicerca:hover {
}

.controlliRicerca {
    color: white;
}

.controlliRicerca h3 {
    padding: 5px;
    font-size: 20px;
}

.navbar-right {
    display: inline;
    position: absolute;
    top: 25px;
    right: 32px;
}

.navbar-right li {
    color:white;
    list-style-type: none;
    display:inline;
    margin-left: 24px;
    cursor: pointer;
}


.navbar-right li i {
    font-size: 20px;
    cursor: pointer;
}

.navbar-right li img {
    width: 33px;
    border-radius: 2px;
    cursor: pointer;
}

.cardFilm, .cardSerie {
    margin:5px;
    width: 250px;
    height: 350px;
    border-radius: 2%;
    background-color: black;
    color:#ffffff99;
    background-color: transparent;
    perspective: 1000px;

}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cardFilm:hover .card-inner {
    transform: rotateY(180deg);
}

.cardSerie:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background-color: #241f1c;
    color: white;
    transform: rotateY(180deg);
    overflow-y:auto;
}

.title-section {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: arial;
}

.title-section:first-child {
    padding-top:20px;
}

.title-section {
    font-size: 16px;
    text-align: center;
    font-family: arial;
}

.description-section {
    font-size:14px;
    text-align:center;
    font-family:arial;
}

.overview {
    font-size:12px;
    text-align:center;
    font-family:arial;
}

.language-section {
    font-size:14px;
    text-align:center;
    font-family:arial;
}


.notFound {
    margin:15px;
    border-radius: 5%;
    background-color: pink;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.notFound h1 {
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    align-self: center;
}

.stars {
    text-align: center;
}

.stars i {
    color:yellow;
}

.flags img {
    width: 40px;
}

.flags {
    text-align: center;
}

#ricercaHeader {
    text-align: center;
}

.controlliRicerca{
    width: 100%;
    text-align: center;
}
