.barraRicerca {
    padding: 10px;
    margin-top:20px;
    margin-left:10px;
    border-radius: 5px;
    background-color: black;
    color:white;
    }

#bottoneRicerca {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
}
#bottoneRicerca:hover{
    background-color: red;
}

#row{
    min-height: 100vh;
    background-color: #00000099;

}

#container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.headerSearch {
    width: 100%;
    align-self: center;
}

.headerSearch h1{
    display: inline;
    font-weight: bold;
    color:red
}

.elencoFilm, .elencoSerie{
    margin:15px;
    border-radius: 5%;
    background-color: black;
    color:#ffffff99;
    max-width: 16%;

}

.title-section{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: arial;
}

.title-section:first-child{
    padding-top:20px;
}

.description-section{
    font-size: 16px;
    text-align: center;
    font-family: arial;
}

.notFound{
    margin:15px;
    border-radius: 5%;
    background-color: pink;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}

.notFound h1{
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    align-self: center;
}

.stars{
text-align: center;

}

.stars i{
    color:yellow;
}

.flags img{
    width: 60px;


}

.flags {
    text-align: center;
}
